.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  color: white;
}

.header-logo {
  margin-left: 48px;
}

.header-search {
  height: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.header-searchContainer {
  height: 20px;
  border: 1px solid #31363a;
  border-radius: 4px;
  width: 375px;
}

.header-searchContainer > input {
  background-color: transparent;
  color: white;
  border: none;
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
}

.header-searchContainer > input:focus {
  outline: none;
}

.header-menuItems {
  margin-left: 48px;
}

.header-menuItems > a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 0 10px;
}

.header-menuItems > a:hover {
  color: #5ac53b;
}
